docs/_build/
vendor/*
composer.lock
composer.phar
coverage
package.xml
*.tgz
.DS_Store
.idea
nbproject
venv
*~
.buildpath
.settings
.project
.codio
/bootstrap/compiled.php
Thumbs.db
_ide_helper*
log_file
